# Make a copy of this file named samtools.properties

[main]
host=myserver
user=myuser

[samtools]
rh_portal_username=secret@secret.com
rh_portal_password=ToPsEcReT
base_url=Path to install source
manifest_url=Path to manifest
